body {
    background-color: #0C0C0C!important;
}

#profile-wrapper {
    text-align: center;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}